{% assign dir_locale = page.dir | split: "/" | shift | first %}
{% assign page_locale = page.url | split: "." | reverse | shift | first %}
{% if dir_locale == "en" or page_locale == "en" %}
  {% assign locale = "en" %}
  {% assign home=site.data.home.en %}
{% else %}
  {% assign locale = "it" %}
  {% assign home=site.data.home.it %}
{% endif %}

{% if page.data %}
  {% assign data = site.data[page.data][locale] %}
{% else %}
  {% assign data = page %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body id="page-top">
  {% include nav.html %}
  <header style="min-height: 66%; background-image: url({{ data.image | absolute_url }})">
      <div class="header-content">
          <div class="header-content-inner">
            <h1 style="text-shadow: rgb(84, 84, 84) 0px 0px 3px; font-size: 65px;">{{ data.title }}</h1>
            {% if data.variant == "escursione" %}
            <br />
            <a href="{{ '/' | append: locale | append: '/#contatti' | relative_url }}" class="btn btn-primary btn-xl page-scroll">{{ home.esplora_book_now_text }}</a>
            {% endif %}
          </div>
      </div>
  </header>
  <div class="container" style="margin-top: 30px">
      <div class="row justify-content-center">
          <div class="col-md-2"></div>
          <div class="col-md-9">
              {{ data.content | markdownify }}
          </div>
      </div>
      {% if data.variant == "escursione" %}
      <div class="row">
          <div class="col-12">
              <div class="text-center">
                <a href="{{ '/' | append: locale | append: '/#contatti' | relative_url }}" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: 30px">{{ home.esplora_book_now_text }}</a>
              </div>
          </div>
      </div>
      {% endif %}
  </div>
  {% if data.middle_row_1_image %}
  <section class="bg-primary-light">
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-bottom: 30px;">
          <div class="col-md-2"></div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ data.middle_row_1_image | relative_url }}" class="img-responsive img-cover-width" />
              </div>
              <div class="col-md-6">
                  {{ data.middle_row_1_text | markdownify }}
              </div>
            </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-2"></div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ data.middle_row_2_image | relative_url }}" class="img-responsive img-cover-width" />
              </div>
              <div class="col-md-6">
                  {{ data.middle_row_2_text | markdownify }}
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if data.second_content %}
  <div class="container">
    <div class="row justify-content-center" style="padding-top: 30px;">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            {{ data.second_content | markdownify }}
        </div>
    </div>
  </div>
  {% endif %}
  {% if data.choose_next_adventure %}
  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
              <a href="{{ '/' | append: locale | append: '/#escursioni' | relative_url }}" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: 30px">{{ data.choose_next_adventure }}</a>
            </div>
        </div>
    </div>
  </div>
  {% endif %}
  {% include scripts.html %}
</body>

</html>
